form {
    margin: 50px 100px;
    width: 600px;
    border: 1px solid #000;
}

input {
    margin: 16px 32px;
    width: 200px;
    height: 32px;
    padding: 0 16px;
}

button {
    margin: 16px 32px;
}

.red {
    background-color: red;
}

.green {
    background-color: springgreen;
}